{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>create</title>
    <link rel="stylesheet" href="{% static 'task_create.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<form method="post" action="">
    <h1>create new task</h1>
    {% csrf_token %}
    {{form.as_p }}
    <input class="button" type="submit" value="submit">
    <a class="fa fa-reply" href="{% url 'task' %}"> Go back</a>
</form>
</body>
</html>